# Building Recommender System

Simple Recommender Engine menawarkan rekomendasi yang umum untuk semua user berdasarkan popularitas film dan terkadang genre.

Ide awal di balik sistem rekomendasi ini adalah sebagai berikut.

- Film-film yang lebih populer akan memiliki kemungkinan yang lebih besar untuk disukai juga oleh rata-rata penonton.
- Model ini tidak memberikan rekomendasi yang personal untuk setiap tipe user. 
- Implementasi model ini pun juga bisa dibilang cukup mudah, yang perlu kita lakukan hanyalah mengurutkan film-film tersebut berdasarkan rating dan popularitas dan menunjukkan film teratas dari list film tersebut.

Sebagai tambahan, kita dapat menambahkan genre untuk mendapatkan film teratas untuk genre spesifik tersebut

Formula dari IMDB dengan Weighted Rating

Weighted Rating (WR) = ((v/v+m)*R) + ((v/v+m) *C)

dimana,

- v: jumlah votes untuk film tersebut
- m: jumlah minimum votes yang dibutuhkan supaya dapat masuk dalam chart
- R: rata-rata rating dari film tersebut
- C: rata-rata jumlah votes dari seluruh semesta film

In [1]:
#import library
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [2]:
#pembacaan dataset
movie_df = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/title.basics.tsv', sep='\t') #untuk menyimpan title_basics.tsv
rating_df = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/title.ratings.tsv', sep='\t') #untuk menyimpan title.ratings.tsv

In [3]:
#Menampilkan 5 data teratas tabel movie
movie_df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0221078,short,"Circle Dance, Ute Indians","Circle Dance, Ute Indians",0,1898,\N,\N,"Documentary,Short"
1,tt8862466,tvEpisode,"¡El #TeamOsos va con todo al ""Reality del amor""!","¡El #TeamOsos va con todo al ""Reality del amor""!",0,2018,\N,\N,"Comedy,Drama"
2,tt7157720,tvEpisode,Episode #3.41,Episode #3.41,0,2016,\N,29,"Comedy,Game-Show"
3,tt2974998,tvEpisode,Episode dated 16 May 1987,Episode dated 16 May 1987,0,1987,\N,\N,News
4,tt2903620,tvEpisode,Frances Bavier: Aunt Bee Retires,Frances Bavier: Aunt Bee Retires,0,1973,\N,\N,Documentary

In [4]:
#Mengecek tipe data dan informasi lainnya dari setiap kolom pada table movie
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9025 entries, 0 to 9024
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          9025 non-null   object
 1   titleType       9025 non-null   object
 2   primaryTitle    9011 non-null   object
 3   originalTitle   9011 non-null   object
 4   isAdult         9025 non-null   int64
 5   startYear       9025 non-null   object
 6   endYear         9025 non-null   object
 7   runtimeMinutes  9025 non-null   object
 8   genres          9014 non-null   object
dtypes: int64(1), object(8)
memory usage: 634.7+ KB

In [5]:
#pengecekan data dengan nilai NULL pada table movie
movie_df.isnull().sum()

tconst             0
titleType          0
primaryTitle      14
originalTitle     14
isAdult            0
startYear          0
endYear            0
runtimeMinutes     0
genres            11
dtype: int64

Dari hasil pengecekan nilai NULL yang sudah dilakukan diketahui bahwa kolom 'primaryTitle' dan 'originalTitle' memiliki banyak data yang bernilai NULL.

Hal selanjutnya yang akan kita lakukan adalah melakukan pengecekan terhadap bentuk data dari kolom primaryTitle dan originalTitle yang bernilai NULL.

In [6]:
#Analisis kolom dengan data bernilai NULL table Movie
movie_df.loc[(movie_df['primaryTitle'].isnull())|(movie_df['originalTitle'].isnull())]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
9000,tt10790040,tvEpisode,NaN,NaN,0,2019,\N,\N,\N
9001,tt10891902,tvEpisode,NaN,NaN,0,2020,\N,\N,Crime
9002,tt11737860,tvEpisode,NaN,NaN,0,2020,\N,\N,"Comedy,Drama,Romance"
9003,tt11737862,tvEpisode,NaN,NaN,0,2020,\N,\N,"Comedy,Drama,Romance"
9004,tt11737866,tvEpisode,NaN,NaN,0,2020,\N,\N,"Comedy,Drama,Romance"
9005,tt11737872,tvEpisode,NaN,NaN,0,2020,\N,\N,\N
9006,tt11737874,tvEpisode,NaN,NaN,0,2020,\N,\N,"Comedy,Drama,Romance"
9007,tt1971246,tvEpisode,NaN,NaN,0,2011,\N,\N,Biography
9008,tt2067043,tvEpisode,NaN,NaN,0,1965,\N,\N,Music
9009,tt4404732,tvEpisode,NaN,NaN,0,2015,\N,\N,Comedy
9010,tt5773048,tvEpisode,NaN,NaN,0,2015,\N,\N,Talk-Show
9011,tt8473688,tvEpisode,NaN,NaN,0,1987,\N,\N,Drama
9012,tt8541336,tvEpisode,NaN,NaN,0,2018,\N,\N,"Reality-TV,Romance"
9013,tt9824302,tvEpisode,NaN,NaN,0,2016,\N,\N,Documentary

In [7]:
#Membuang data dengan nilai NULL

#mengupdate movie_df dengan membuang data-data bernilai NULL
movie_df = movie_df.loc[(movie_df['primaryTitle'].notnull())&(movie_df['originalTitle'].notnull())]

#menampilkan jumlah data setelah data dengan nilai NULL dibuang
len(movie_df)

9011

#Analisis kolom dengan data bernilai NULL.

Selain kolom 'primaryTitle' dan 'originalTitle',masih terdapat kolom lain yang memiliki data bernilai NULL. Kolom tersebut adalah kolom 'genres'

Selanjutnya, kita akan melakukan hal yang sama seperti yang sudah kita lakukan pada kolom 'primaryTitle' dan 'originalTitle'.

Lakukan pengecekan terhadap bentuk data dari kolom genres yang bernilai NULL.

In [8]:
movie_df = movie_df.loc[(movie_df['primaryTitle'].notnull()) & (movie_df['originalTitle'].notnull())]

movie_df.loc[movie_df['genres'].isnull()]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
9014,tt10233364,tvEpisode,Rolling in the Deep Dish\tRolling in the Deep ...,0,2019,\N,\N,Reality-TV,NaN
9015,tt10925142,tvEpisode,The IMDb Show on Location: Star Wars Galaxy's ...,0,2019,\N,\N,Talk-Show,NaN
9016,tt10970874,tvEpisode,Die Bauhaus-Stadt Tel Aviv - Vorbild für die M...,0,2019,\N,\N,\N,NaN
9017,tt11670006,tvEpisode,...ein angenehmer Unbequemer...\t...ein angene...,0,1981,\N,\N,Documentary,NaN
9018,tt11868642,tvEpisode,GGN Heavyweight Championship Lungs With Mike T...,0,2020,\N,\N,Talk-Show,NaN
9019,tt2347742,tvEpisode,No sufras por la alergia esta primavera\tNo su...,0,2004,\N,\N,\N,NaN
9020,tt3984412,tvEpisode,"I'm Not Going to Come Last, I'm Just Going to ...",0,2014,\N,\N,Reality-TV,NaN
9021,tt8740950,tvEpisode,Weight Loss Resolution Restart - Ins & Outs of...,0,2015,\N,\N,Reality-TV,NaN
9022,tt9822816,tvEpisode,Zwischen Vertuschung und Aufklärung - Missbrau...,0,2019,\N,\N,\N,NaN
9023,tt9900062,tvEpisode,The Direction of Yuu's Love: Hings Aren't Goin...,0,1994,\N,\N,"Animation,Comedy,Drama",NaN
9024,tt9909210,tvEpisode,Politik und/oder Moral - Wie weit geht das Ver...,0,2005,\N,\N,\N,NaN

#Membuang data dengan nilai NULL.

Setelah melihat hasil sebelumnya, dapat dilihat bahwa semua data tidak memiliki judul dan kita dapat membuang data-data tersebut.Pekerjaan selanjutnya yang akan kita lakukan adalah membuang data dengan nilai NULL tersebut dan melihat jumlah data yang ada setelah data-data bernilai NULL tersebut dibuang.

In [9]:
#mengupdate movie_df dengan membuang data-data bernilai NULL
movie_df = movie_df.loc[movie_df['genres'].notnull()]

#menampilkan jumlah data setelah data dengan nilai NULL dibuang
len(movie_df)

9000

#Mengubah Nilai '\\N' .

Jika kita perhatikan pada kolom 'startYear' , 'endYear', dan 'runtimeMinutes', terdapat data dengan nilai '\\N'

'\\N' berarti NULL.

Hal selanjutnya yang akan kita lakukan adalah mengubah nilai dari \\\N tersebur menjadi np.nan dan melakukan casting kolom startYear, endYear, dan runtimeMinutes menjadi float64.

In [10]:
#mengubah nilai '\\N' pada startYear menjadi np.nan dan cast kolomnya menjadi float64
movie_df['startYear'] = movie_df['startYear'].replace('\\N',np.nan)
movie_df['startYear'] = movie_df['startYear'].astype('float64')

movie_df['startYear'].unique()[:5]

array([1898., 2018., 2016., 1987., 1973.])

In [11]:
#mengubah nilai '\\N' pada endYear menjadi np.nan dan cast kolomnya menjadi float64
movie_df['endYear'] = movie_df['endYear'].replace('\\N',np.nan)
movie_df['endYear'] = movie_df['endYear'].astype('float64')
movie_df['endYear'].unique()[:5]

array([  nan, 2005., 1955., 2006., 1999.])

In [12]:
#mengubah nilai '\\N' pada runtimeMinutes menjadi np.nan dan cast kolomnya menjadi float64
movie_df['runtimeMinutes'] = movie_df['runtimeMinutes'].replace('\\N',np.nan)
movie_df['runtimeMinutes'] = movie_df['runtimeMinutes'].astype('float64')
movie_df['runtimeMinutes'].unique()[:5]

array([nan, 29.,  7., 23., 85.])

#Mengubah nilai genres menjadi list.

Selanjutnya, membuat sebuah function yang bernama transform_to_list untuk mengubah nilai genre menjadi list.

In [13]:
def transform_to_list(x):
    if ',' in x: 
    #ubah menjadi list apabila ada data pada kolom genre
        return x.split(',')
    else: 
    #jika tidak ada data, ubah menjadi list kosong
        return []

movie_df['genres'] = movie_df['genres'].apply(lambda x: transform_to_list(x))

Tabel Rating

In [14]:
#Menampilkan 5 data Teratas table Rating
rating_df.head()

      tconst  averageRating  numVotes
0  tt0000001            5.6      1608
1  tt0000002            6.0       197
2  tt0000003            6.5      1285
3  tt0000004            6.1       121
4  tt0000005            6.1      2050

In [15]:
#Menampilkan info data tabel rating
rating_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030009 entries, 0 to 1030008
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1030009 non-null  object
 1   averageRating  1030009 non-null  float64
 2   numVotes       1030009 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 23.6+ MB

# Joining tabel movie and Rating.

lakukan inner join antara rating_df dan movie_df untuk mendapatkan rating pada setiap film yang tersedia, lalu tampilkan 5 data teratas dan tipe data dari tiap kolom yang ada.

In [19]:
#Lakukan join pada kedua table (pada kolom tconst)
movie_rating_df = pd.merge(movie_df,rating_df,on='tconst',how='inner')

#Tampilkan 5 data teratas
movie_rating_df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
0,tt0043745,short,Lion Down,Lion Down,0,1951.0,NaN,7.0,"[Animation, Comedy, Family]",7.1,459
1,tt0167491,video,Wicked Covergirls,Wicked Covergirls,1,1998.0,NaN,85.0,[],5.7,7
2,tt6574096,tvEpisode,Shadow Play - Part 2,Shadow Play - Part 2,0,2017.0,NaN,22.0,"[Adventure, Animation, Comedy]",8.5,240
3,tt6941700,tvEpisode,RuPaul Roast,RuPaul Roast,0,2017.0,NaN,NaN,[],8.0,11
4,tt7305674,video,UCLA Track & Field Promo,UCLA Track & Field Promo,0,2017.0,NaN,NaN,"[Short, Sport]",9.7,7

In [20]:
#Tampilkan tipe data dari tiap kolom
movie_rating_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1376 entries, 0 to 1375
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          1376 non-null   object
 1   titleType       1376 non-null   object
 2   primaryTitle    1376 non-null   object
 3   originalTitle   1376 non-null   object
 4   isAdult         1376 non-null   int64
 5   startYear       1376 non-null   float64
 6   endYear         26 non-null     float64
 7   runtimeMinutes  1004 non-null   float64
 8   genres          1376 non-null   object
 9   averageRating   1376 non-null   float64
 10  numVotes        1376 non-null   int64
dtypes: float64(4), int64(2), object(5)
memory usage: 129.0+ KB

# Memperkecil Ukuran Tabel.

memperkecil ukuran table dengan menghilangkan semua nilai NULL dari kolom startYear dan runtimeMinutes karena tidak masuk akal jikalau film tersebut tidak diketahui kapan tahun rilis dan durasi nya.

In [21]:
#dropna untuk menghilangkan nilai NULL
movie_rating_df = movie_rating_df.dropna(subset=['startYear','runtimeMinutes'])

movie_rating_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1004 entries, 0 to 1374
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          1004 non-null   object
 1   titleType       1004 non-null   object
 2   primaryTitle    1004 non-null   object
 3   originalTitle   1004 non-null   object
 4   isAdult         1004 non-null   int64
 5   startYear       1004 non-null   float64
 6   endYear         17 non-null     float64
 7   runtimeMinutes  1004 non-null   float64
 8   genres          1004 non-null   object
 9   averageRating   1004 non-null   float64
 10  numVotes        1004 non-null   int64
dtypes: float64(4), int64(2), object(5)
memory usage: 94.1+ KB

# Mencari nilai C.

Hal pertama yang dicari adalah nilai dari C yang merupakan rata-rata dari averageRating

In [22]:
C = movie_rating_df['averageRating'].mean()

C

6.829581673306767

# Mencari nilai m.

ambil contoh film dengan numVotes di atas 80% populasi, jadi populasi yang akan diambil hanya sebesar 20%.

In [23]:
m = movie_rating_df['numVotes'].quantile(0.8)

m

229.0

# Membuat fungsi weighted formula

Selanjutyna membuat sebuah fungsi dengan menggunakan dataframe sebagai variable.

In [24]:
def imdb_weighted_rating(df, var=0.8):
    v = df['numVotes']
    R = df['averageRating']
    C = df['averageRating'].mean()
    m = df['numVotes'].quantile(var)
    df['score'] =(v/(m+v))*R +(m/(m+v))*C #Rumus IMDb 
    return df['score']
    
imdb_weighted_rating(movie_rating_df)

0       7.009992
1       6.796077
2       7.684380
5       6.921384
6       6.869089
          ...
1369    6.867943
1371    6.590335
1372    6.892455
1373    6.820403
1374    6.924997
Name: score, Length: 1004, dtype: float64

In [25]:
#melakukan pengecekan dataframe
movie_rating_df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes,score
0,tt0043745,short,Lion Down,Lion Down,0,1951.0,NaN,7.0,"[Animation, Comedy, Family]",7.1,459,7.009992
1,tt0167491,video,Wicked Covergirls,Wicked Covergirls,1,1998.0,NaN,85.0,[],5.7,7,6.796077
2,tt6574096,tvEpisode,Shadow Play - Part 2,Shadow Play - Part 2,0,2017.0,NaN,22.0,"[Adventure, Animation, Comedy]",8.5,240,7.684380
5,tt2262289,movie,The Pin,The Pin,0,2013.0,NaN,85.0,[],7.7,27,6.921384
6,tt0874027,tvEpisode,Episode #32.9,Episode #32.9,0,2006.0,NaN,29.0,"[Comedy, Game-Show, News]",8.0,8,6.869089

# Membuat simple recommender system

sebelumnya, telah terdapat field tambahan 'score'.

Pertama, filter numVotes yang lebih dari m kemudian diurutkan score dari tertinggi ke terendah untuk diambil nilai beberapa nilai teratas

In [26]:
def simple_recommender(df, top=100):
    df = df.loc[df['numVotes'] >= m]
    df = df.sort_values(by='score', ascending=False) #urutkan dari nilai tertinggi ke terendah
    
    #Ambil data 100 teratas
    df = df[:top]
    return df

In [27]:
#Ambil data 25 teratas     
simple_recommender(movie_rating_df, top=25)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes,score
68,tt4110822,tvEpisode,S.O.S. Part 2,S.O.S. Part 2,0,2015.0,NaN,43.0,"[Action, Adventure, Drama]",9.4,3820,9.254624
236,tt2200252,video,Attack of the Clones Review,Attack of the Clones Review,0,2010.0,NaN,86.0,[],9.3,1411,8.955045
1181,tt7697962,tvEpisode,Chapter Seventeen: The Missionaries,Chapter Seventeen: The Missionaries,0,2019.0,NaN,54.0,"[Drama, Fantasy, Horror]",9.2,1536,8.892450
326,tt7124590,tvEpisode,Chapter Thirty-Four: Judgment Night,Chapter Thirty-Four: Judgment Night,0,2018.0,NaN,42.0,"[Crime, Drama, Mystery]",9.1,1859,8.850993
1045,tt0533506,tvEpisode,The Prom,The Prom,0,1999.0,NaN,60.0,"[Action, Drama, Fantasy]",8.9,2740,8.740308
71,tt8399426,tvEpisode,Savages,Savages,0,2018.0,NaN,58.0,"[Drama, Fantasy, Romance]",9.0,1428,8.700045
1234,tt2843830,tvEpisode,VIII.,VIII.,0,2014.0,NaN,57.0,"[Adventure, Drama]",8.9,1753,8.660784
1087,tt4295140,tvSeries,Chef's Table,Chef's Table,0,2015.0,NaN,50.0,[],8.6,12056,8.566998
1054,tt2503932,tvEpisode,Trial and Error,Trial and Error,0,2013.0,NaN,43.0,"[Drama, Fantasy, Horror]",8.6,2495,8.451165
448,tt0337566,video,AC/DC: Live at Donington,AC/DC: Live at Donington,0,1992.0,NaN,120.0,"[Documentary, Music]",8.5,1343,8.256663
624,tt0620159,tvEpisode,Strike Out,Strike Out,0,2000.0,NaN,30.0,[],8.7,401,8.020118
1281,tt3166390,tvEpisode,Looking for a Plus-One,Looking for a Plus-One,0,2014.0,NaN,28.0,"[Comedy, Drama, Romance]",8.7,396,8.014679
314,tt0954759,tvEpisode,Ben Franklin,Ben Franklin,0,2007.0,NaN,21.0,[],8.1,2766,8.002863
189,tt5661506,video,Florence + the Machine: The Odyssey,Florence + the Machine: The Odyssey,0,2016.0,NaN,49.0,[],8.8,330,7.992798
151,tt3954426,tvEpisode,Bleeding Kansas,Bleeding Kansas,0,2014.0,NaN,42.0,"[Drama, Western]",8.6,437,7.991253
1344,tt6644294,tvEpisode,The Hostile Hospital: Part Two,The Hostile Hospital: Part Two,0,2018.0,NaN,40.0,"[Adventure, Comedy, Drama]",8.3,812,7.976536
1242,tt3677742,tvSpecial,Saturday Night Live: 40th Anniversary Special,Saturday Night Live: 40th Anniversary Special,0,2015.0,NaN,106.0,[],8.1,1931,7.965312
1217,tt3642464,tvEpisode,Giant Woman,Giant Woman,0,2014.0,NaN,11.0,"[Adventure, Animation, Comedy]",8.4,566,7.947641
544,tt0734655,tvEpisode,The Little People,The Little People,0,1962.0,NaN,25.0,"[Drama, Fantasy, Horror]",8.1,1559,7.937290
49,tt9119838,tvEpisode,Parisian Legend Has It...,Parisian Legend Has It...,0,2019.0,NaN,42.0,[],8.9,263,7.936330
357,tt4084774,tvEpisode,Trial and Punishment,Trial and Punishment,0,2015.0,NaN,56.0,"[Adventure, Drama]",8.8,289,7.928908
1111,tt4174072,tvEpisode,Immortal Emerges from Cave,Immortal Emerges from Cave,0,2017.0,NaN,53.0,"[Action, Adventure, Crime]",8.0,2898,7.914287
790,tt4279086,tvEpisode,And Santa's Midnight Run,And Santa's Midnight Run,0,2014.0,NaN,42.0,"[Action, Adventure, Comedy]",8.2,823,7.901687
972,tt0048028,movie,East of Eden,East of Eden,0,1955.0,NaN,118.0,[],7.9,38543,7.893678
819,tt0032156,movie,The Story of the Last Chrysanthemum,Zangiku monogatari,0,1939.0,NaN,143.0,"[Drama, Romance]",7.9,2974,7.823470

In [28]:
df = movie_rating_df.copy()

# Membuat simple recommender system dengan user preferences.

sebelumnya, dapat dilihat daftar film telah diurutkan dari score tertinggi ke terendah.

Film dengan averageRating yang tinggi tidak selalu mendapat posisi yang lebih tinggi dibanding film dengan averageRating lebih rendah, hal ini disebabkan karena kita juga memperhitungkan faktor banyaknya votes


Sistem rekomendasi ini masih bisa ditingkatkan dengan menambah filter spesifik tentang titleType, startYear, ataupun filter yang lain

Selanjutnya yang akan dilakukan adalah membuat function untuk melakukan filter berdasarkan isAdult, startYear, dan genres.

In [29]:
def user_prefer_recommender(df, ask_adult, ask_start_year, ask_genre, top=100):
    #ask_adult = yes/no
    if ask_adult.lower() == 'yes':
        df= df.loc[df['isAdult']==1]
    elif ask_adult.lower() == 'no':
        df=df.loc[df['isAdult']==0]

    #ask_start_year = numeric
    df = df.loc[df['startYear'] >= int(ask_start_year)]

    #ask_genre = 'all' atau yang lain
    if ask_genre.lower() == 'all':
        df = df
    else:
        def filter_genre(x):
            if ask_genre.lower() in str(x).lower():
                return True
            else:
                return False
        df = df.loc[df['genres'].apply(lambda x: filter_genre(x))]

    df = df.loc[df['numVotes']>= m]  #Mengambil film dengan numVotes yang lebih besar atau sama dengan nilai m 
    df = df.sort_values(by='score', ascending=False)
    
    #jika kamu hanya ingin mengambil 100 teratas
    df = df[:top]
    return df

In [31]:
user_prefer_recommender(df,
                       ask_adult = 'no',
                        ask_start_year = 2000,
                       ask_genre = 'drama'
                    )

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes,score
68,tt4110822,tvEpisode,S.O.S. Part 2,S.O.S. Part 2,0,2015.0,NaN,43.0,"[Action, Adventure, Drama]",9.4,3820,9.254624
1181,tt7697962,tvEpisode,Chapter Seventeen: The Missionaries,Chapter Seventeen: The Missionaries,0,2019.0,NaN,54.0,"[Drama, Fantasy, Horror]",9.2,1536,8.892450
326,tt7124590,tvEpisode,Chapter Thirty-Four: Judgment Night,Chapter Thirty-Four: Judgment Night,0,2018.0,NaN,42.0,"[Crime, Drama, Mystery]",9.1,1859,8.850993
71,tt8399426,tvEpisode,Savages,Savages,0,2018.0,NaN,58.0,"[Drama, Fantasy, Romance]",9.0,1428,8.700045
1234,tt2843830,tvEpisode,VIII.,VIII.,0,2014.0,NaN,57.0,"[Adventure, Drama]",8.9,1753,8.660784
1054,tt2503932,tvEpisode,Trial and Error,Trial and Error,0,2013.0,NaN,43.0,"[Drama, Fantasy, Horror]",8.6,2495,8.451165
1281,tt3166390,tvEpisode,Looking for a Plus-One,Looking for a Plus-One,0,2014.0,NaN,28.0,"[Comedy, Drama, Romance]",8.7,396,8.014679
151,tt3954426,tvEpisode,Bleeding Kansas,Bleeding Kansas,0,2014.0,NaN,42.0,"[Drama, Western]",8.6,437,7.991253
1344,tt6644294,tvEpisode,The Hostile Hospital: Part Two,The Hostile Hospital: Part Two,0,2018.0,NaN,40.0,"[Adventure, Comedy, Drama]",8.3,812,7.976536
357,tt4084774,tvEpisode,Trial and Punishment,Trial and Punishment,0,2015.0,NaN,56.0,"[Adventure, Drama]",8.8,289,7.928908
708,tt2751234,tvEpisode,Resurrection,Resurrection,0,2014.0,NaN,43.0,"[Crime, Drama, Horror]",8.0,1077,7.794774
605,tt9141176,tvEpisode,59 horas desaparecido,59 horas desaparecido,0,2019.0,NaN,48.0,"[Crime, Drama, Thriller]",8.1,674,7.777823
983,tt5063116,tvEpisode,Shell,Shell,0,2016.0,NaN,32.0,"[Comedy, Drama]",8.5,275,7.741020
1017,tt2206822,tvEpisode,Vested Interest,Vested Interest,0,2012.0,NaN,43.0,"[Comedy, Crime, Drama]",8.0,525,7.644528
73,tt0847785,tvEpisode,Like It Was,Like It Was,0,2006.0,NaN,43.0,"[Comedy, Drama, Mystery]",8.1,405,7.641127
625,tt7348490,tvEpisode,Forced Perspective,Forced Perspective,0,2018.0,NaN,43.0,"[Crime, Drama, Mystery]",7.9,413,7.518184
1272,tt0534736,tvEpisode,"Sex, Lies and Larvae","Sex, Lies and Larvae",0,2000.0,NaN,46.0,"[Crime, Drama, Mystery]",7.7,689,7.482870
800,tt0901201,tvEpisode,Crossroads,Crossroads,0,2006.0,NaN,42.0,"[Action, Drama, Mystery]",7.7,654,7.474263
659,tt3909890,tvEpisode,Moppa,Moppa,0,2014.0,NaN,27.0,"[Comedy, Drama]",7.8,410,7.452229
1170,tt0647504,tvEpisode,Tainted Fruit,Tainted Fruit,0,2001.0,NaN,98.0,"[Crime, Drama, Mystery]",7.7,538,7.440123
1001,tt2129485,tvEpisode,A Desperate Man,A Desperate Man,0,2012.0,NaN,44.0,"[Action, Crime, Drama]",7.7,501,7.426951
977,tt4391820,tvEpisode,Aisling,Aisling,0,2019.0,NaN,51.0,"[Crime, Drama, Fantasy]",7.5,1558,7.414087
1096,tt6822518,movie,Yasamak Güzel Sey,Yasamak Güzel Sey,0,2017.0,NaN,101.0,"[Comedy, Drama]",7.5,1541,7.413262
910,tt3348270,tvEpisode,Bloodline,Bloodline,0,2014.0,NaN,44.0,"[Drama, Horror, Mystery]",7.7,436,7.400262
746,tt0534765,tvEpisode,You've Got Male,You've Got Male,0,2001.0,NaN,45.0,"[Crime, Drama, Mystery]",7.6,620,7.392196
299,tt4527626,tvEpisode,His Troubled Thoughts,His Troubled Thoughts,0,2016.0,NaN,59.0,"[Crime, Drama, Thriller]",7.5,859,7.358892
509,tt1256301,tvEpisode,Nine Lives,Nine Lives,0,2008.0,NaN,44.0,"[Action, Crime, Drama]",7.6,501,7.358321
897,tt2349242,tvEpisode,The Fifth Man,The Fifth Man,0,2012.0,NaN,44.0,"[Action, Crime, Drama]",7.8,270,7.354658
1090,tt0212815,movie,Big Eden,Big Eden,0,2000.0,NaN,118.0,"[Comedy, Drama, Romance]",7.3,3906,7.273948
109,tt1753383,movie,A Dog's Purpose,A Dog's Purpose,0,2017.0,NaN,100.0,"[Adventure, Comedy, Drama]",7.2,61521,7.198626
550,tt8163822,short,The Neighbors' Window,The Neighbors' Window,0,2019.0,NaN,21.0,"[Drama, Short]",7.2,2222,7.165391
834,tt6509862,movie,Mr. Long,Ryu san,0,2017.0,NaN,129.0,"[Action, Crime, Drama]",7.1,960,7.047918
600,tt0329002,movie,Hard Goodbyes: My Father,Dyskoloi apohairetismoi: O babas mou,0,2002.0,NaN,113.0,"[Drama, Family]",7.1,423,7.005022
642,tt0993186,tvEpisode,Daleks in Manhattan,Daleks in Manhattan,0,2007.0,NaN,45.0,"[Adventure, Drama, Family]",7.0,4982,6.992511
691,tt3663996,tvEpisode,Storm Watch,Storm Watch,0,2014.0,NaN,43.0,"[Drama, Romance]",7.0,309,6.927461
727,tt3563898,tvSeries,Brynhildr in the Darkness,Gokukoku no Brynhildr,0,2014.0,NaN,22.0,"[Action, Animation, Drama]",6.8,733,6.807042
164,tt0464049,movie,The History Boys,The History Boys,0,2006.0,NaN,109.0,"[Comedy, Drama, Romance]",6.8,19858,6.800337
893,tt8858104,movie,Guava Island,Guava Island,0,2019.0,NaN,55.0,"[Comedy, Drama, Music]",6.7,7935,6.703635
927,tt3663990,tvEpisode,Pilot,Pilot,0,2014.0,NaN,44.0,"[Drama, Romance]",6.6,403,6.683187
462,tt5197828,tvEpisode,Right,Right,0,2016.0,NaN,42.0,"[Crime, Drama, Mystery]",6.5,641,6.586752
1068,tt8369852,tvEpisode,I Think We're Alone Now,I Think We're Alone Now,0,2019.0,NaN,43.0,"[Adventure, Drama, Mystery]",6.3,563,6.453124
940,tt0396190,movie,Return to Sender,Return to Sender,0,2004.0,NaN,109.0,"[Drama, Thriller]",6.4,2342,6.438263
610,tt3526706,movie,Chevalier,Chevalier,0,2015.0,NaN,105.0,"[Comedy, Drama]",6.3,3890,6.329443
1126,tt2151739,movie,Meet Me in Montenegro,Meet Me in Montenegro,0,2014.0,NaN,90.0,"[Comedy, Drama, Romance]",5.8,258,6.284136
637,tt0857275,movie,Wonderful World,Wonderful World,0,2009.0,NaN,89.0,"[Drama, Romance]",6.1,2288,6.166378
385,tt0472259,movie,Alone with Her,Alone with Her,0,2006.0,NaN,78.0,"[Crime, Drama, Thriller]",6.0,3738,6.047889
1014,tt1159705,movie,Teenage Angst,Teenage Angst,0,2008.0,NaN,64.0,"[Drama, Thriller]",5.3,355,5.899785
1043,tt5518756,movie,The Misandrists,The Misandrists,0,2017.0,NaN,91.0,"[Comedy, Drama]",5.1,387,5.742978
1154,tt1386492,movie,This Is Not a Movie,This Is Not a Movie,0,2011.0,NaN,99.0,"[Comedy, Drama]",4.6,642,5.186193
492,tt0882806,movie,Sugar Boxx,Sugar Boxx,0,2009.0,NaN,86.0,"[Crime, Drama]",3.5,229,5.164791
922,tt2948790,movie,Return to Sender,Return to Sender,0,2015.0,NaN,92.0,"[Drama, Thriller]",5.1,11434,5.133960
690,tt4477536,movie,Fifty Shades Freed,Fifty Shades Freed,0,2018.0,NaN,105.0,"[Drama, Romance, Thriller]",4.5,50572,4.510501
677,tt8923408,tvEpisode,#JinnHunter,#JinnHunter,0,2019.0,NaN,24.0,"[Drama, Fantasy, Horror]",3.6,592,4.500821
1039,tt5227468,movie,Beiimaan Love,Beiimaan Love,0,2016.0,NaN,120.0,"[Drama, Romance, Thriller]",2.8,374,4.330305
1138,tt1126516,movie,Money Hai Toh Honey Hai,Money Hai Toh Honey Hai,0,2008.0,NaN,138.0,"[Comedy, Drama]",2.8,527,4.020601
1208,tt3044882,movie,Nasha,Nasha,0,2013.0,NaN,122.0,"[Drama, Thriller]",3.2,1132,3.810708
1197,tt3016748,movie,Jacob's Ladder,Jacob's Ladder,0,2019.0,NaN,89.0,"[Drama, Horror, Mystery]",3.4,2065,3.742360
846,tt0488164,movie,Moscow Zero,Moscow Zero,0,2006.0,NaN,82.0,"[Action, Drama, Horror]",3.0,1620,3.474296
90,tt0299981,tvMovie,Highlander: The Source,Highlander: The Source,0,2007.0,NaN,86.0,"[Action, Adventure, Drama]",3.1,8855,3.194020